
body{
    margin:0px; padding:0px;
    height: 100%;
    background-color: white;
    -webkit-user-select:none;
    /*overflow: hidden;*/
    overflow-y:auto;
    overflow-x:hidden;
}

/*---------------------------------HEAD PART----------------------------------*/

#Top{
    height: 70px;
    line-height: 70px;
    background-color: #ffffff;
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 137, 67, 0.15),
    rgba(255, 137, 67, 0.15) 1px, white 1.5px, white 8px);
    color: #fb7a30;
    font-family:"Bauhaus 93";
    font-size: 40px;
    border-bottom: 2px solid #d9752b;
    -webkit-app-region:drag;

}
#Top img{
    height: 50px;
    line-height: 70px;
    float:left;
    padding:10px 20px;
}

#Top_title{
    height: 70px;
    line-height: 70px;
    float:left;
}
#Close{
    cursor: pointer;
    -webkit-appearance: none;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background:url(../../resource/images/CLOSE.png) no-repeat center;
    background-size:30px;
    margin:auto;
}
#Min{
    cursor: pointer;
    -webkit-appearance: none;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background:url(../../resource/images/Minus.png) no-repeat center;
    background-size:30px;
    margin:auto;
}
#Max{
    cursor: pointer;
    -webkit-appearance: none;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background:url(../../resource/images/Expand.png) no-repeat center;
    background-size:30px;
    margin:auto;
}




/*--------------------------------MID PART- Navigation & Windows----------------------------------*/

#Mid{
    height:400px;
    /*height:58%;*/
    background-color: transparent;
    display:block;
    overflow:hidden;
}

/*--------------------------------- NAVIGATION ----------------------------------*/
.Tabs {
    width: 250px;
    height:100%;
    background-color: #ff8933;
    float:left;
    overflow:hidden;
    border: 1px solid #fb7a30;
    border-left:none;
    border-top: 0px;
    opacity: 0.9;
}

    .tabs{
        opacity: 0;
        float:right;
    }

    .label {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.4);
        color: #fefefe;
        border-radius: 3px 3px 0 0;
        width:23%;
        height:5%;
        padding:3.5% 0 1.5% 0;
        text-align:center;
        font-family: "HeadlineA";
        font-size:18px;
        float: left;
        margin-left:1%;
        margin-top:1%;
        border-bottom:1px solid #ff8933;
    }

    .label:hover {
        background: rgba(255, 255, 255, 0.64);
        color: rgba(254, 254, 254, 0.5);
    }

    .tabs:checked + .label {
        background: white;
        color: #fb7a30;
        border-bottom:1px solid white;

    }

    .tabs:nth-of-type(1):checked ~ .panels .panel:nth-child(1),
    .tabs:nth-of-type(2):checked ~ .panels .panel:nth-child(2),
    .tabs:nth-of-type(3):checked ~ .panels .panel:nth-child(3){
        opacity: 1;
        -webkit-transition: .3s;
    }

.panels {
    float: left;
    clear: both;
    height:100%;
    position: relative;
    background: #ffffff;
    width:100%;
    overflow:scroll;

}

.panel {
    width: 100%;
    opacity: 0;
    position: absolute;
    height:100%;
    background: #ffffff;
}

#panel2,#panel3 {

}

/*---------------------------------3 WINDOWS PART----------------------------------*/
#window{
    background-color: white;
    width: inherit;
    height: inherit;
    margin-left:252px;
    position: relative;
    overflow:hidden;
}
#window-0{
    background-color: white;
    width:1020px;
    /*width:1500px;*/
    height: inherit;
    position: relative;
    overflow:hidden;
}

/*---------------------------------TIMELINE PART----------------------------------*/
#Bottom{
    height:325px;
    /*height:32%;*/
    overflow:hidden;
    border-bottom: 1px solid #c6c6c6;
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 137, 67, 0.2),
    rgba(255, 137, 67, 0.1) 1px, white 1.5px, white 10px);
}



.b_right::-webkit-scrollbar
{
    width: 15px;
    height: 15px;
    background-color: rgba(245, 245, 245, 0.58);
}

/*定义滚动条轨道 内阴影+圆角*/
.b_right::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(96, 62, 18, 0.38);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
.b_right::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(196, 93, 53, 0.93);
    background-color: #fb9a36;
}